fastapi
uvicorn[standard]
python-dotenv
pymongo
motor
pydantic
email-validator
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
scikit-learn
xgboost
pandas
numpy
easyocr
pillow
pytest
httpx