fastapi
uvicorn[standard]
python-dotenv
pymongo
motor
pydantic
email-validator
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
google-generativeai
pytest
httpx
# REMOVE torch, easyocr, xgboost, pandas if possible to save RAM